/*CSS GENERAL*/


body {
    margin: 0px;
    background: radial-gradient( #6cb474,#ED4264 );
    min-height: 100dvh;
}

#div_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;

}

#div_regles {
    color: black;
    text-align: center;
    font-family: 'roboto', 'sans-serif';
}

.btn_choix_quiz {
    border-radius: 0 0 20px 20px;
    font-weight: 600;
    border-radius: 0 0 20px 20px;
    font-weight: 600;
    font-size:clamp(1rem, 1vw, 2rem);
}

.btn_choix_quiz:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(4px);
  transition: all 0.4s ease;
}


#btn_quizpotter {
    background-color: #6cb474;
    font-family: "Roboto", serif;

}

#progression[value] {

    --color: linear-gradient(#fff8,#89aa8d), repeating-linear-gradient(135deg,rgba(0, 0, 0, 0.697) 0 10px,#0000 0 20px),
    #ED4264;
    --background: lightgrey; 
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;
    display: flex;
    border: none; 
    width: 200px;
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

/*CSS QUIZ MUSIK*/


#div_nav.musik {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ED4264;
}

#btn_quizzic {
    background-color: #ED4264;
    font-family: "Roboto", sans-serif;
}

#div_body.musik {
    background: linear-gradient(#ED4264, #FFEDBC);
    min-height: 100vh;
}

#div_body.musik .btn_choix_quiz {

    cursor: pointer;
    border-radius: 20px;
    background: #FFEDBC;
    font-size:clamp(1rem, 1vw, 2rem);
    border-color: #FF4F79;
    margin: 4px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;

}

#div_body.musik .title {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-size:clamp(2rem, 5vw, 4rem);
}

#div_body.musik .question {
    margin-top: 3vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: clamp(1rem, 2.5vw, 2rem);
    border: 1px solid black;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    width: 90vw;
    margin: auto;
}

#div_body.musik .container_timer_prog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#div_body.musik #timer {
    font-family: "Rationale", sans-serif;
    font-size: 16px;
}

#div_body.musik .btn_answer {
    background: linear-gradient(0.25turn, #FFEDBC, #ebf8e1, #ED4264);
    color: #4e4c4c;
    border-radius: 10% 10%;
    height: 6vh;
    border-color: #FF4F79;
    margin: 0.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);  
    letter-spacing: -1.2px;
    word-spacing: 1.2px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px 10px;
    font-family: "Rationale", sans-serif;
    font-weight: 500;
}

#div_body.musik .btn_answer:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

#div_body.musik .option {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    font-family: "Rationale", sans-serif;
}

#div_body.musik .container_btn_suivant_replay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
}


#div_body.musik .btn_suivant,
#div_body.musik .btn_replay {
    border-radius: 15% 15% 15% 15%;
    height: 7vh;
    width: 20vw;
    background-color: #FF4F79;
    color: white;
    font-size : clamp(1rem, 3vw, 2rem);  
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: "Rationale", sans-serif;
}

#div_body.musik .btn_suivant:hover {
    transform: translateY(-4px);
}

#div_body.musik .container_btn_suivant_replay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
}

#score {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: auto;
}

#div_body.musik #score {
    display: none;
    color: black;
    text-align: center;
    justify-content: center;
    font-family: "Rationale", sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    background: linear-gradient(0.25turn, #ED4264, #ebf8e1, #FFEDBC);
    height: 10vh;
    width: 70vw;
    padding-top: 0px;
    margin-top: -50px;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 35px;
}


 /*CSS QUIZ HARRY POTER*/

#div_nav.hp {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#div_body.hp .container_timer_prog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#div_body.hp #timer {
    font-family: "Quintessential", serif;
    font-size: 16px;
    font-weight: 600;
}

#div_body.hp .btn_choix_quiz {
    border-radius: 10px;
    font-size:clamp(1rem, 1vw, 2rem);
    border-color: black;
    margin: 4px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background: #FFEDBC;
}

#div_body.hp {

    background: linear-gradient(0.25turn,#6cb474, #abd29c)
}

#div_body.hp .title {
    font-family: "Quintessential", serif;
    font-weight: 600;
    font-style: normal;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-size:clamp(2rem, 5vw, 4rem);
}

#div_body.hp .question {
    background: linear-gradient(0.25turn,#ccfcfc,#e8b639);
    margin-top: 3vh;
    height: 7vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quintessential", serif;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    font-weight: 600;
    border: 1px solid black;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    margin: auto;
}

#div_body.hp .btn_answer {
    background: linear-gradient(0.25turn, #e8b639,#ccfcfc);
    color: #957e4c;
    border-radius: 10% 10%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    border-color: #76580d;
    margin: 0.5vh;
    font-family: "Quintessential", serif;
    font-size: clamp(1.2rem, 2vw, 2rem);  
    letter-spacing: -1.2px;
    word-spacing: 1.2px;
    color: #000000;
    display: flex;
    width: 75vw;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px 10px;
    font-weight: 600;
}

#div_body.hp .btn_answer:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

#div_body.hp .option {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}


#div_body.hp .container_btn_suivant_replay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
}

#div_body.hp .btn_suivant,
#div_body.hp .btn_replay {
    border-radius: 15% 15% 15% 15%;
    height: 7vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: #6cb474;
    color: black;
    font-size : clamp(1rem, 3vw, 2rem);  
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: 600;
    font-family: "Quintessential", serif;
}

#div_body.hp .btn_suivant:hover {
    transform: translateY(-4px);
}


#div_body.hp #score {
    display: none;
    color: black;
    text-align: center;
    justify-content: center;
    font-family: "Quintessential", serif;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 600;
    background: linear-gradient(0.25turn, #e8b639,#ccfcfc);
    height: 10vh;
    width: 90vw;
    padding-top: 0px;
    margin-top: -50px;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}

@media (min-width: 319px) and (max-width: 425px) {

    .btn_choix_quiz {
        font-size: 1rem;
        height: 3%;
        justify-content: center;
    }

    #btn_quizpotter {
        font-size:0.9rem;
    }

    #div_body.hp .btn_answer,
    #div_body.musik .btn_answer{
        font-size: 1rem;
        font-weight: 500;
    }

    #div_body.hp .btn_answer {
        font-weight: 600;
    }

    #div_body.musik #score,
    #div_body.hp #score {
        font-size : 1.5rem;
    }
    

}