/*CSS GENERAL*/

html {
      background: radial-gradient( #6cb474,#ED4264 );

    }

#div_body {
    min-height: 100vh;
    align-items: center;
}

 html {
    background: radial-gradient( #6cb474,#ED4264 );   
}


body {
    margin: 0px;
}



.btn_choix_quiz {
    border-radius: 0 0 20px 20px;
    font-weight: 600;
    border-radius: 0 0 20px 20px;
    font-weight: 600;
}

.btn_choix_quiz:hover {
   padding: 15px; 
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(4px);
  transition: all 0.4s ease;
}

#btn_quizzic {

     background-color: #ED4264;
     font-family: "Rationale", sans-serif;
     font-size: 15px;
}

#btn_quizpotter {

     background-color: #6cb474;
     font-family: "Quintessential", serif;
}

#progression[value] {
  --color: linear-gradient(#fff8,#fff0), repeating-linear-gradient(135deg,#0003 0 10px,#0000 0 20px),
    #31c6f7;
    --background: lightgrey; 
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;
    display: flex;
    border: none; 
    width: 200px;
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

/*CSS QUIZ MUSIK*/


#div_nav.musik {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ED4264;
}


#div_body.musik {
    background: linear-gradient(#ED4264, #FFEDBC);
    min-height: 100vh;
}

#div_body.musik .btn_choix_quiz {
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    border-color: #FF4F79;
    margin: 4px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background: #FFEDBC;
}

#div_body.musik .title {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-size: 60px;
}

#div_body.musik .question {
    background: linear-gradient(0.25turn, #ED4264, #ebf8e1, #FFEDBC);
    margin-top: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rationale", sans-serif;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    width: 800px;
    margin: auto;
}

#div_body.musik .container_timer_prog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#div_body.musik #timer {
    font-family: "Rationale", sans-serif;
    font-size: 16px;
}

#div_body.musik .btn_answer {
    background: linear-gradient(0.25turn, #FFEDBC, #ebf8e1, #ED4264);
    color: #4e4c4c;
    border-radius: 10% 10%;
    height: 50px;
    border-color: #FF4F79;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: -1.2px;
    word-spacing: 1.2px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px 10px;
    font-family: "Rationale", sans-serif;
    font-weight: 500;
}

#div_body.musik .btn_answer:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

#div_body.musik .option {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    font-family: "Rationale", sans-serif;
}

#div_body.musik .container_btn_suivant_replay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px
}


#div_body.musik .btn_suivant {
    border-radius: 15% 15% 15% 15%;
    height: 50px;
    width: 100px;
    background-color: #FF4F79;
    color: white;
    font-size : 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: "Rationale", sans-serif;
}

#div_body.musik .btn_suivant:hover {
    transform: translateY(-4px);
}

#div_body.musik .container_btn_suivant_replay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}


#div_body.musik .btn_replay {
    display: none;
    align-items: center;
    border-radius: 15% 15% 15% 15%;
    height: 50px;
    width: 100px;
    background-color: #FF4F79;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px #0e1fd133;
    font-family: "Rationale", sans-serif;
    font-size : 25px;
}


#score {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: auto;
}

#div_body.musik #score {
    display: none;
    color: black;
    text-align: center;
    justify-content: center;
    font-family: "Rationale", sans-serif;
    font-size: 30px;
    background: linear-gradient(0.25turn, #ED4264, #ebf8e1, #FFEDBC);
    height: 50px;
    width: 600px;
    padding-top: 0px;
    margin-top: -50px;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 35px;
}


 /*CSS QUIZ HARRY POTER*/

#div_nav.hp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0.25turn,#6cb474, #abd29c)
}

#div_body.hp .container_timer_prog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#div_body.hp #timer {
    font-family: "Quintessential", serif;
    font-size: 16px;
    font-weight: 600;
}

#div_body.hp .btn_choix_quiz {
    border-radius: 10px;
    font-size: 15px;
    border-color: black;
    margin: 4px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background: #FFEDBC;
}

#div_body.hp {

    background: linear-gradient(0.25turn,#6cb474, #abd29c)
}

#div_body.hp .title {
    font-family: "Quintessential", serif;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-size: 60px ;    
}

#div_body.hp .question {
    background: linear-gradient(0.25turn,#ccfcfc,#e8b639);
    margin-top: 25px;
    height: 50px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quintessential", serif;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    margin: auto;
}

#div_body.hp .btn_answer {
    background: linear-gradient(0.25turn, #e8b639,#ccfcfc);
    color: #957e4c;
    border-radius: 10% 10%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-color: #76580d;
    margin: 4px;
    font-family: "Quintessential", serif;
    font-size: 20px;
    letter-spacing: -1.2px;
    word-spacing: 1.2px;
    color: #000000;
    display: flex;
    width: 600px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px 10px;
    font-weight: 600;
}

#div_body.hp .btn_answer:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

#div_body.hp .option {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}


#div_body.hp .container_btn_suivant_replay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

#div_body.hp .btn_suivant {
    border-radius: 15% 15% 15% 15%;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: #6cb474;
    color: black;
    font-size: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: 600;
    font-family: "Quintessential", serif;
}

#div_body.hp .btn_suivant:hover {
    transform: translateY(-4px);
}

#div_body.hp .btn_replay {
    display: none;
    border-radius: 15% 15% 15% 15%;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: #6cb474;
    color: black;
    font-size: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: 600;
    font-family: "Quintessential", serif;
}


#div_body.hp #score {
    display: none;
    color: black;
    text-align: center;
    justify-content: center;
    font-family: "Quintessential", serif;
    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(0.25turn, #e8b639,#ccfcfc);
    height: 50px;
    width: 600px;
    padding-top: 0px;
    margin-top: -50px;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}
