#div_body {
    min-height: 100vh;
   align-items: center;
}

body {
    margin: 0px;
}

#div_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: pink;
}

#div_body.musik {
    background: linear-gradient(#ED4264, #FFEDBC);
    min-height: 100vh;
}

#div_body.musik .btn_choix_quiz {
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    border-color: #FF4F79;
    margin : 4px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background: #FFEDBC;
}

#div_body.musik .title {
    font-family: 'Apple Chancery', cursive;
    font-weight: 400;
    font-style: normal;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-size: 60px ;
}

#div_body.musik .question {
    background: linear-gradient(0.25turn,  #ED4264,#ebf8e1 ,#FFEDBC);
    margin-top: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    width: 800px;
    margin: auto;
}



#div_body.musik .btn_answer {
    background: linear-gradient(0.25turn, #FFEDBC, #ebf8e1, #ED4264) ;
    color: #4e4c4c;
    border-radius: 10% 10%;
    height: 50px;
    border-color: #FF4F79;
    margin : 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: -1.2px;
    word-spacing: 1.2px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px 10px;
   

}

#div_body.musik .btn_answer:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

#div_body.musik .option {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;

}

#div_body.musik .container_boutons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 30px;
}

#div_body.musik .btn_suivant {
    border-radius: 15% 15% 15% 15%;
    height: 50px;
    width: 100px;
    background-color: #FF4F79;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

#div_body.musik .btn_suivant:hover {


     transform: translateY(-4px);
}

#div_body.musik .btn_replay {

    visibility: hidden;
     border-radius: 15% 15% 15% 15%;
    height: 50px;
    width: 100px;
    background-color: #FF4F79;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px #0e1fd133;
    padding: 20px 10px;


}

#messageScore {

    color: #535353;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    background: linear-gradient(0.25turn, #FFEDBC,#ebf8e1, #4f92ff);
    height: 50px;
    padding-top: 15px;
    margin-top: 60px;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    }

#div_body.hp .btn_choix_quiz {
    border-radius: 10px;
    font-size: 15px;
    border-color: black;
    margin : 4px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background: #FFEDBC;
}

#div_body.hp {
    background: linear-gradient(#554a3d, #FFEDBC);
}

#div_body.hp .title {
    font-family: 'Poppins', sans-serif;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-size: 60px ;
}

#div_body.hp .question {
    background: #7b5c2e;
    margin-top: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 15% 15% 15% 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}

#div_body.hp .btn_answer {
    background: #582524 ;
    color: #957e4c;
    border-radius: 10% 10%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-color: #582524;
    margin : 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: -1.2px;
    word-spacing: 1.2px;
    color: #000000;
    
    display: flex;
    width: 600px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px 10px;

}

#div_body.hp .btn_answer:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

#div_body.hp .option {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;

}

#div_body.hp .btn_suivant {
    border-radius: 15% 15% 15% 15%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 90px;
    background-color: #FF4F79;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#div_body.hp .btn_suivant:hover {
     transform: translateY(-4px);
}

#div_body.hp .btn_replay {
    visibility: hidden;
     border-radius: 15% 15% 15% 15%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    background-color: #FF4F79;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;


}

#progression[value] {
  --color: linear-gradient(#fff8,#fff0), repeating-linear-gradient(135deg,#0003 0 10px,#0000 0 20px),
    #31c6f7;
  --background: lightgrey; 
 -webkit-appearance:none;
  -moz-appearance:none;        
  appearance: none;
  display: flex;
  border: none; 
  width: 200px;
  margin-left: 380px;
  margin-top: 30px;
  
  border-radius: 10em;
  background: var(--color);

}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
