body {
    background: linear-gradient(#ED4264, #FFEDBC);
    min-height: 100vh;

}

.title {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;

}

.question {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn_answer {
    border-radius: 25% 10%;
    height: 100px;
    align-items: center;
    justify-content: center;
     border-width:0;
    margin: 10px;
    padding: 25px;
    text-align: center;
    display: flex;
    width: 400px;
    cursor:pointer;
    background: linear-gradient(#e3afaf,#DAE2F8)
   


}

.btn_answer:hover{
    cursor:pointer;
    background-color:#83c0f8;
}

.option {

   height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;


}

.btn_suivant {
     border-radius: 15% 15% 15% 15%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
}